@import "colors";
table{
    border-collapse: collapse;
}
td{
    width: 20px;
    height: 20px;
    border: 1px solid $black;
}
#PlayerBoard{
    float: left;
}
#AIBoard{
    float: right;
}
#container{
    align-content: center;
    flex-direction: row;
    width: 600px;
}